/* 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

/* FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

/* Font Families:

heading-primary: font-family: 'Roboto', sans-serif;

heading-secondary: font-family: 'Space Grotesk', sans-serif;

/* COLOR SYSTEM */

/* 
main color: #3366BB
buttons: #38EFFF

Shades: 

Tints: 
*/
/* 

Grey: #555

*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    overflow-x:hidden ;
    /* does not work on safari or MS Edge */
    scroll-behavior: smooth;
}

body {
  margin:0;
  font-family: 'Rubik', sans-serif;
  overflow-x: hidden;
  background-image:linear-gradient(to top, rgb(245, 245, 245)0%, #fff 100%);
}

::selection{
    background-color: #1A98FF;
    color: #fff;
}


::placeholder{
    color: rgba(255, 255, 255, 0.678);
}

/* *:focus{
    box-shadow: 0px 0px 10px#38eeff9c;
    outline: none;
} */
.container{
    max-width: 128rem;
    margin: 0 auto;
    /* padding: 0 3.2rem; */
}

.container-2{
    max-width: 1600px;
    margin: 0 auto;
}

.grid {
    display: grid;
    
}

.grid--2-cols{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 9.6rem;

}

.grid--3--cols{
    grid-template-columns: repeat(3, 1fr);

}

.heading-secondary{
    font-family: 'Roboto';
    color: #1A98FF;
    font-size: 3.6rem;
    margin-bottom: 3.2rem;
    text-transform: uppercase;
    font-weight: 700;
  }

.display-none{
    display: none;
}

.paragraph{
    font-family: 'Montserrat';
}
