@media(max-width:116em){
    .modal-title{
        margin-left: -176px;
    }
}

@media(max-width:103em){
    .modal{
        width: 55%;
        
    }

    .modal-btn{
        right: 24.1%;
    }
    .modal-btn-2{
        right: 24.1%;
    }

}
/* 
@media(max-width:200em) and (min-height:65em){
    .modal{
        height: 80vh;
    }
} */


@media(max-width:92em){
    .modal{
        width: 60%;
        height: 55vh ;
    }

    .modal-btn,  .modal-btn-2{
        right: 21.6%;
        top: 24.8%;
        transform: scale(0.8);
    }

    .modal-title{
        margin-left: -163px;
    }
}

@media(max-width:86em){
    .modal-btn, .modal-btn-2{
        top: 25%;
    }
    .modal-title{
        margin-left: -150px;
    }


@media(max-width:81em){
    .modal{
        width: 65%;
        height: 65vh;
    }

    .modal-btn,  .modal-btn-2{
        right: 19.3%;
        top: 20.8%;
    }

}


@media(max-width:75em){
    .modal{
        width: 80%;
        height: 55vh;
    }

    .modal-btn, .modal-btn-2{
        right: 12%;
        top: 24.8%;
    }

    .modal-title{
        margin-left: -179px;
    }

}


@media(max-width:69em){
    .modal{
        width: 75%;
    }

    .modal-btn{
        right: 14.8%;
    }

    .modal-btn-2{
        right: 14.8%;
    }

    .source-code-text{
        left: 36%;
    }

    .modal-title{
        margin-left: -154px;
    }

    .modal-btn, .modal-btn-2{
        top: 24.8%;
    }
}

@media(max-width:64em){

    .textbox, .textbox-2{
        font-size: 14px;
    }
    .modal-content{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        padding-bottom: 0;
    }

    .modal-paragraph{
        margin-bottom: 1.2rem;
    }


    .modal-img{
        display: flex;
        margin: 0 auto;
        width: 95%;
    }

    .modal-btn, .modal-btn-2{
        top: 22.8%;
    }

    .tech-icons-list{
        display: flex;
        justify-content: center;
        margin-bottom: 0;
    }

    .live-demo-btn{
        width: 90%;
    }

    .live-demo-text{
        left: 37%;
    }

    .modal-img-wrapper-2{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 40%;
    }

    .tech-item-1{
        width: 7%;
    }

    .live-demo-btn, .source-code-btn{
        width: 90%;
    
    }

    .source-code-text{
        left: 38%;
    }

    .modal-title{
        margin-left: 139px;
    }



}

@media(max-width:64em) and (max-height:86em){
    .modal{
        height: 60vh;
    }

    .modal-btn{
        top: 22%;
    }

    .modal-btn-2{
        top: 22%;
    }

    .modal-title{
        margin-left: -121px;
    }
}


@media(max-width:64em) and (max-height:48em){
    .modal{
        height: 95vh;
    }

    .modal-btn, .modal-btn-2{
        top: 5.2%;
    }


}

@media(max-width:64em) and (max-height:38em){
    .modal{
       width: 49%;

    }

    .modal-btn, .modal-btn-2{
        top: 7%;
        right: 27.8%;
    }

    .modal-title{
        margin-left: -86px;
    }

}

@media(max-width:56em){
    .modal{
        height: 72vh;
    }

    .modal-btn, .modal-btn-2{
        top: 16.8%;
        right: 15.3%;
    }
    .modal-img-wrapper-2{
        width: 50%;
    }

    .source-code-text, .live-demo-text{
        left: 38%;
    }
}

@media(max-width:48em){
    .live-demo-text{
        left: 35%;
    }

    .modal-title{
        margin-left: -106px;
    }

    .modal-img{
        width: 88%;
    }


}


@media(max-width:45em){
    .modal{
        height: 90vh;
    }

    .modal-btn,  .modal-btn-2{
        top: 7.8%;
        transform: scale(0.9);
    }

    .modal-img{
        width: 86%;
    }

    .modal-img-wrapper-2{
        width: 60%;
    }
    .tech-item-1{
        width: 10%;
    }    
    .modal-title{
        margin-left: -88px;
    }
    .modal-info-title, .modal-paragraph{
        margin-left: 17px;
    }

    .modal-info-title{
        font-size: 18px;
    }

    .live-demo-text{
        left: 32%;
    }

    .modal-btns{
    margin-left: 20px;
    }

}

@media(max-width:45em) and (max-height:35em){
    .tech-item-1{
        width: 7%;
    }

    .modal-paragraph{
        margin-bottom: -4.6rem;
    }

    .tech-icons{
        margin-bottom: -3.6rem;    
    }

    .modal-img-wrapp, .modal-img-wrapper-2{
        width: 36%;
    }

    .modal-btn, .modal-btn-2{
        transform: scale(0.7);
    }
}

@media(max-width:41em){

    .modal-info-title{

        font-size: 18px;
    }

    .modal-img-wrapper{
        height: 73%;
    }

    .modal-content{
        margin-top: 2.4rem;
    }

    .modal-info{
        margin-top: -2.4rem;
    }

    .live-demo-text{
        left: 34%;
    }

    .modal-img{
        width: 80%;
    }

    .modal-btns, .modal-paragraph, .modal-info-title{
        margin-left: 30px;
        padding-right: 10px;
    }

    .modal-img-wrapper{
        height: 84%;
    }

    .modal-paragraph, .modal-info-title{
        margin-left: 30px;
    }

  }


@media(max-width:45em) and (max-height:34em){
    .modal{
        width: 85%;
        height: 95vh;
    }

    .modal-btn, .modal-btn-2{
        top: 6.8%;
        right: 11.3%;
    }

}

@media(max-width:39em){
    .modal-content{
        transform: scale(0.9);
        margin-top: 0;
    }

    .modal-btn,  .modal-btn-2{
        transform: scale(0.9);
        top: 7.8%;
        right: 16.3%;
    }

    .modal-title{
        margin-left: -77px;
    }

    
    .modal-img-wrapper{
        margin-bottom: 5.2rem;
        height: 77%;
    }

    .modal-img{
        height: 110%;
        width: 80%;
    }

    .modal{
        height: 90vh;
        padding-bottom: 0;
    }

    .modal-btns, .modal-paragraph, .modal-info-title, .modal-btns{
        margin-left: 36px;
    }
}

@media(max-width:36em){
    .modal-img{
        width: 83%;
        height: 133%;
    }

    .modal-content{
        margin-top: -10px;
    }

    .modal-img-wrapper{
        height: 100%;
    }

    .modal-img-wrapper-2{
        width: 78%;
    }

    .modal-github-icon{
        margin-left: -8px;
    }

    .source-code-text, .live-demo-text{
        left: 30%;
    }

    .live-demo-btn{
        padding-right: 123px;
    }

    .modal-info{
        margin-top: 2.4rem;
    }

    .modal-paragraph, .modal-info-title{
        margin-left: 13px;
    }

    .modal-title{
        font-size: 20px;
    }

    .modal-btn{
        transform: scale(0.8);
    }

    .modal-btns{
        margin-left: 14px;
    }
}

@media(max-width:31em){
    .modal-content{
        transform: scale(0.85);
        padding: 20px;
        padding-bottom: 0;
        margin-top: -60px;
    }


    .modal-github-icon{
        margin-left: -2px;
    }

    .modal-title{
        margin-left: -56px;
    }

    .modal-img{
        width: 80%;
        margin-top: 10px;
        height: 127%;
    }

    .modal-paragraph{
        margin-left: 19px;
        padding-right: 10px;
    }

    .modal-info-title{
        margin-left: 19px;
    }

    .source-code-text{
        left: 34%;
    }

    .tech-icons-list{
        margin-bottom: 2.4rem;
    }

    .tech-icons{
        margin-bottom: 0;
    }

    .modal-btns{
        margin-left: 20px;
    }

    .modal-btn-2{
        transform:scale(0.8)
    }

    
}

@media(max-width:29em){

    .source-code-btn, .live-demo-btn{
        padding-right: 125px;
        padding-left: 15px;
        margin-bottom: 5px;
    }

    .live-demo-text{
        left: 27%;
    }

    .desktop-icon{
        margin-left: 0px;
    }

    .modal{
        width: 82%;
    }

    .modal-btn{
        right: 13.7%;
    }

    .modal-btn-2{
        right: 13.7%;
    }


    .modal-title{
        font-size: 20px;
    }

    .modal-img{
        width: 77%;
    }

    .modal-btns{
        margin-left: 8px;
    }

    .modal-paragraph{

        padding-right: 10px;
    }

    .modal-info-title, .modal-paragraph{
        margin-left: 26px;
    }

    .modal-info-title{
        font-size: 16px;
    }

    .tech-icons-list{
        gap: 1.2rem;
    }

    .source-code-btn{
        padding-right: 140px;
        width:80% ;
    }
    .source-code-text{
        left: 32%;
        top: 31%;
    }

    .live-demo-btn{
        padding-right: 120px;
        width: 80%;
    }

    .tech-item-1{
        width: 10%;
    }

    .tech-icons{
        margin-left: -30px;
    }

    .modal-btns{
        margin-left: 32px;
    }
}

@media(max-width:26em){
    
    .modal{
        width: 85%;
    }
    
    .live-demo-btn, .source-code-btn{
        padding-right: 90px;
        width: 90%;
    }

    .live-demo-text, .source-code-text{
        font-size: 12px;
        top: 35%;
        left: 33%;
    }

    .modal-title{
        margin-left: -47px;
    }

    .modal-img-icon{
        width: 150%;
    }

    .modal-btn, .modal-btn-2{
        transform: scale(0.7);
        right: 12.2%;
        top: 7.5%;
    }

    .modal-img-wrapper, .modal-img-wrapper-2{
        height: 120%;
    }
    .modal-img{
        width: 80%;
        height:144% ;
    }

    .modal-info-title{
        margin-top: 2.4rem;
    }

    .tech-icons-list{
        gap: 2.8rem;
        margin-left: -10px;
    }

    .tech-icons{
        margin-left: -5px;
    }

    .tech-item-1{
        width: 7%;
    }

    .source-code-btn{
        padding-right: 116px;
    }

    .modal-info-title, .modal-paragraph{
        margin-left:18px;
    }

    .modal-img-wrapper{
        height: 110%;
    }
}

@media(max-width:23.5em) and (max-height:42em){
    .modal-img{
        height: 138%;
        width: 75%;

    }

    .modal-btns{
        margin-left: 19px;
    }

    .modal-info{
        margin-left: 3.6rem;
    }

    .modal-img-wrapper{
        margin-bottom: 6.2rem;
    }

    .tech-icons{
        margin-bottom: 2.4rem;
    }

    .tech-item-1{
        width: 6%;
    }

    .modal-paragraph{
        font-size: 12px;
    }

}

@media(max-width:23.5em){
    .modal-img-wrapper{
        margin-bottom: 4.6rem;

        height: 100%;
    }

    .modal-img-wrapper-2{
        width: 90%;
    }

    .modal{
        width: 85%;
    }

    .modal-info-title{
        margin-top: 1.2rem;
    }

    .modal-title{
        font-size: 18px;
    }

    .modal-paragraph{
        font-size: 12px;
        margin-bottom: 2.4rem;
    }

    .modal-img{
        height: 135%;
        width: 75%;
    }

    .modal-btn,  .modal-btn-2{
        transform: scale(0.7);
        right: 12.2%;

    }


    .modal-github-icon, .desktop-icon{
        margin-left: -5px;
    }

    .modal-line{
        margin-bottom: 10px;
    }

    .source-code-btn{
        height: 40px;
        padding-right: 115px;
    }

    .source-code-text, .live-demo-text{
        margin-top: -1px;
    }
    .live-demo-btn{
        height: 40px;
    }

    .modal-github-icon{
        margin-top: -5px;
    }

    .tech-item-1{
        width: 8%;
    }

    .tech-icons-list{
        gap: 2rem;
        margin-left: -22px;
    }

    .modal-info-title, .modal-paragraph, .modal-btns{
        margin-left: 18px;
    }

    .modal-info{
        padding-bottom: 24px;
        margin-top: 0;
    }

    .see-more-link:link{
        font-size: 14px;
    }
}


@media(max-width:20em){
    .modal{
        width: 90%;
        height: 95vh;
    }

    .modal-img-wrapper{
        margin-bottom: 2.4rem;
    }

    .modal-img{
        height: 125%;
    }

    .modal-btn, .modal-btn-2{
        top: 5.4%;
        right: 11.3%;
        transform: scale(0.7);
    }

    .modal-line{
        margin-bottom: 20px;
    }

    .modal-info-title, .modal-paragraph{
        margin-left: 24px;
    }

    .tech-item-1{
        width: 8%;
    }

    .tech-icons-list{
        margin-left: -22px;
    }

    .source-code-btn{
        padding-right: 111px;
    }

    .source-code-text{
        left:31% ;
    }



}

@media(max-width:18em){
    .modal-btn{
        transform: scale(0.8);
        top: 4.8%;
        right: 10.3%;
    }

    .modal-btn-2{
        transform: scale(0.8);
        top: 4.8%;
        right: 10.3%;
    }

    .modal{
        width: 100%;
        height: 102vh;
    }

    .modal-btn{
        top: 1.8%;
        right: 7.3%;
    }
    .modal-btn-2{
        top: 1.8%;
        right: 7.3%;
    }

    .modal-title{
        font-size: 16px;
    }

    .modal-img{
        height: 130%;
    }

    .modal-img{
        height: 118%;
        width: 84%;
    }

    .modal-img-wrapper{
        display: flex;
        margin: 0 auto;
        width: 88%;
    }

    .tech-item-1{
        width: 7%;
    }

    .tech-icons-list{
        margin-left: -22px;
        margin-bottom: 3.6rem;
    }


    }
}