/* rem and em do not depend on html font-size in media queries 
Instead, 1rem = 1em = 16px
*/

/* ************ */
/* Below 1600px (smaller desktops) */
/* ************ */

@media(max-width:96em){

    .hero-img{
        justify-content: center;
    }
}
/* Below 1296px */
@media(max-width: 81em){

    .service-text-box{
        padding-right: 1.4rem;
    }

    .email-div{
        grid-row: 2;
    }

    .btn-send{
        top: 70%;
    }

    .service-img-box-2::before{
        left: 178px;
    }

    .service-img-box::before{
        bottom: 118px;
        left: 34px;
    }



}

@media(max-width:77em){
    .hero-paragraph{
        font-size: 14px;
    }

    .hero-intro{
        font-size: 48px ;
    }

    .service-text{
        font-size: 18px;
    }

    .heading-secondary{
        font-size: 30px;
    }

    .services-title,
    .skills-title,
    .portfolio-title{
        font-size: 52px;
    }

    .line, .line-2, .line-3{
        height: 4px;
    }

    .line{
        width:247px;
    }

    .line-2{
        width: 182px;
    }
     .line-3{
         width: 167px ;
     }

    .services-title-container-inner::before,
    .skills-title-container-inner::before,
    .portfolio-title-container-inner::before{
        width: 111px;
        height: 30px;
   
    }
    
}

@media(max-width:69em){
    
    .container{
        max-width: 100rem;
        
    }

    .header{
        padding: 0 2.4rem;
    }

    .hero-img{
        padding-right: 0;
    }

    .service-img-box-2::before{
        left: 145px;
    }

    .service-img-box::before{
        bottom: 100px;
    }

    .service-text{
        font-size: 16px;
    }

    .service-divs{
        column-gap: 4.8rem;
    }


    /* ***************** */
    /* MOBILE NAVIGATION */
    /* ***************** */

    .btn-mobile-nav{
        display: block;
        z-index: 10001;
    }


    .main-nav{
        background: linear-gradient(to bottom,#33A2FF 0%, #0c69b6 100% ) ;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        
        position:absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;

        transform: translateX(100%);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.2s ease-in;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;

        
    }

    .nav-open .main-nav{
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
        z-index: 1000;
        display: flex;
                 
    }


    #nav-portfolio, #nav-services{
        display: block;
    }

    .main-nav-link:link,
    .main-nav-link:visited{
        font-size: 3rem;
        color: white;
        font-family: 'Roboto';
    }

    .nav-open .main-nav-list,
    .main-nav-list{
        flex-direction: column;
        font-size: 2.4rem;
        gap: 6rem;
    }

    .nav-open .x-btn{
        display: flex;
    }

    .nav-open .burger-btn{
        display: none;
    }
      .social-icons{
          display: flex;
          gap: 1.2rem;
          transform: scale(1.1);

      }

      #cta-btn-hero{
          display: block;
      }

      #hero-cta-link{
          text-decoration: none;
      }

      /* skills grid */

      .skills-list{
          grid-template-columns: repeat(2, 1fr);
      }

}

@media(max-width:64em){

    .ildidev-logo-2{
        width: 20%;
    }
    .inner-header{
        height: 50vh;
    }
    .section-hero{
        margin-bottom: 0;
    }

    .service-divs{
        column-gap: 0;
    }

    .header-container{
        padding-top: 256px;
    }

    .hero-img{
        margin-bottom: 96px;
    }
}

/* ipad */

@media(max-width:64em) and (max-height:48em){
    .inner-header{
        height: 70vh;
    }

    .ildidev-logo-2{
        width:25%;
    }
}

/* nest hub */
@media(max-width:64em) and (max-height:37.5em){
    .inner-header{
        height: 100vh;
    }
}

@media(max-width:56em){
    .service-img-2{
        width: 75%;
    }

    .hero-intro{
        font-size: 46px;
    }

    .cta-email, .cta-link{
        font-size: 12px;
    }
}

@media(max-width:48em){
    .inner-header{
        height: 70vh;
    }

    .hero-img img{
        width: 200%;
        margin-right: 210px;
    }

    .header-container{
        padding-left: 85px;
        padding-top: 175px;
    }

    .name-profession-wrapper{
        width: 115%;
        z-index: 100;
    }

    .service-divs{
        grid-template-columns: 1fr;
        grid-template-rows:
            1fr .25fr 1fr .25fr
    }

    .img-box-1{
        grid-column: span 2;
    }

    #service-text-box-1{
        grid-column: span 2;
        text-align: center;
        padding-left: 4.6rem;
    }

    .service-img-box-2{
        grid-column: span 2;
        grid-row: 3;
        margin-bottom: 24px;
    }

    .service-text-box{
        text-align: center;
        padding-right: 4.6rem;
        
    }

    #service-img{
        width: 75%;
    }

    .service-img-box::before{
        width: 50%;
        padding-bottom: 50%;
        bottom: 133px;
        left: 142px;
    }

    .service-img-box{
        padding-bottom: 0;
        margin-bottom: 2.4rem;
    }

    .line{
        margin-bottom: 9.6rem;
    }

    .service-img-box-2{
        margin-bottom: 2.4rem;
    }
    .service-img-box-2::before{
        width: 50%;
        padding-bottom: 50%;
        left: 211px;
    }

    .service-img-2{
        margin-top: 71px;
        width: 60%;
        margin-right: 52px;
        
    }

    .see-more{
        margin: 0 auto;
    }

    .text-box-3{
        margin-top: -96px;
    }

    .heading-secondary{
        margin-bottom: 2.4rem;
    }

    .skill{
        width: 85%;
    }

} 

@media(max-width:44em){
    .name-profession{
        grid-column: span 2;
        grid-row: 2;
    }
    .name-profession-wrapper{
        width: 90%;
        padding-right: 2.4rem;
    }

    .hero-img{
        display: none;
    }

    .hero-btns{
        justify-content: center;
    }

    .hero-paragraph{
        text-align: center;
    }

    .hero-intro{
        text-align: center;
    }

    .hero-job-title{
        display: flex;
        justify-content: center;
    }

    .portfolio-items{
        grid-template-columns: 1fr;
        row-gap: 4.8rem;
    }

    .cta-title{
        font-size: 30px;
    }

    .cta-paragraph{
        font-size: 14px;
    }

    .portfolio-items{
        padding: 2.4rem;
    }

    .skills-list{
        padding: 2.4rem;
    }


}



@media(max-width:39em){
    .service-img-box-2::before{
        left: 163px;
    }

    .service-img-box::before{
        left: 124px;
        bottom: 100px;
    }

    #services{
        margin-top: -96px;
    }

    .service-img-box{
        margin-bottom: 4.6rem;
    }

    .ildidev-logo-2{
        margin-bottom: 2.4rem;
        width: 30%;

    }



}

@media(max-width:32em){
    .inner-header{
        height: 80vh;
    }

    .hero-intro{
        font-size: 36px;
    }
    .hero-job-title-text{
        font-size: 20px;
    }

    .hero-paragraph{
        font-size: 12px;
    }

    .btn-3 span{
        font-size: 10px;
        top: -18%;
    }

    .custom-btn{
        width: 112px;
        height:30px;
    }

    .name-profession-wrapper{
        padding-right: 4.6rem;
    }

    .service-text{
        font-size: 16px;
    }

    .projects-cta{
        font-size: 16px;
        padding-left:20px;
        padding-right:20px;
    }

    .service-img-box-2::before{
        left: 130px;
    }
    .service-img-box-2::before{
        left: 129px;
        bottom: 71px;
    }

    .service-img-box{
        margin-bottom: 8rem;
    }

    .heading-secondary{
        font-size: 24px;
    }

    .service-img-box::before{
        left: 104px;
        bottom: 65px;
    }

    .services-title,
    .skills-title,
    .portfolio-title{
        font-size: 44px;
    }

    .skill{
        height: 130%;
    }

    .skill-text{
        font-size: 20px;
    }

    .line-3, .line-2, .line{
        margin-bottom: 9.6rem;
    }
    .line{
        width: 220px;
    }

    .services-title-container-inner::before{
        width: 89px;
        height: 26px;
    }
    .skills-title-container-inner::before{
        width: 97px;
        height: 28px;
    }
    .portfolio-title-container-inner::before{
        width: 94px;
        height: 26px;
    }
    

    .line-2{
        width: 155px;
    }

    .line-3{
        width: 144px;
    }

    #name{
        width: 83%;
    }

    #email{
        width: 95%;
    }

    #message{
        width: 98%;
    }

    .contact-form.grid.grid--2--cols{
        column-gap: 0;
        padding-left: 2.4rem;
    }

    .cta-btn-2{
        height: 64px;
        margin-top: 10px;
    }

    .outlook{
        padding-left: 0;
    }

    .btn-mobile-nav{
        margin-right: 0;
    }

    .skills-list, .portfolio-items{
        padding: 24px;
    }

    #input-1, #input-2{
        margin-bottom: 0;
    }

    #projects{
        margin-bottom: 4.6rem;
    }

    .cta-title{
        font-size: 24px;
    }

    .legal p{
        font-size: 10px;
    }


    .footer-navigation, .footer-socials{
        transform: scale(0.8);
    }

    .footer-socials{
        margin-top: 3rem;
    }



}

@media(max-width:28em){

    
    .legal{
        flex-direction: column;
        justify-content: center;
        align-items: left;
    }

    .name-profession-wrapper{
        width: 100%;
        padding-right: 0px;
        margin-left: -46px;
    }
    .service-img-box-2::before{
        left: 113px;
        bottom: 49px;
    }


    .contact-form.grid.grid--2--cols{
        padding-left: 1.2rem;
    }

    .legal{
        padding-left: 2.4rem;
        align-items: left;
    }

    .social-title, .footer-nav-title{
        font-size: 12px;
    }

    .footer-socials{
        margin-top: 2.6rem;
    }


}

@media(max-width:25em){
    .skills-list{
        grid-template-columns: 1fr;
    }

    .skill{
        width: 70%;
    }

    .service-img-box::before{
        left: 85px;
        bottom: 48px;
    }

    .service-img-box-2::before{
        left: 98px;
        bottom: 45px;
    }

    .services-title, .skills-title, .portfolio-title{
        font-size: 36px;
    }

    .services-title-container-inner::before{
        width: 78px;
        height: 22px;
    }

    .portfolio-title-container-inner::before{
        width: 78px;
        height: 21px;
    }

    .line-3{
        width: 122px;
    }

    
    .line{
        width: 181px;
        margin-bottom: 8rem;
    }

    .skills-title-container-inner::before{
        width: 81px;
        height: 23px;
    }

    .line-2{
        width: 130px;
    }

    #services{
        margin-bottom: 12.8rem;
    }

    .skills-section.container{
        margin-bottom: 18.4rem;
    }


    .cta-btn-2{
        width: 194px;
    }

    .cta-paragraph{
        font-size: 12px;
    }

    ::placeholder{
        font-size: 12px;
    }

    .service-img-box{
        margin-bottom: 9.6rem;
    }

    .skills-section.container{
        margin-bottom: 12.8rem;
    }

    .line-3, .line-2, .line{
        margin-bottom: 4.6rem;
    }

    #service-text-box-1{
        padding-left: 2.4rem;
        padding-right: 2.4rem;
    }
    #service-text-box-2{
        padding-left: 2.4rem;
        padding-right: 2.4rem;
    }

    .legal{
        padding-right: 2.4rem;
        padding-left: 1.2rem;
    }

    .ildidev-logo-2{
        width: 35%;
    }

}

@media(max-width:23em){
    #services{
        margin-top:-258px ;
    }

    .service-img-2{
        margin-right: 30px;
    }

    .item{
        height: 300px;
    }

    .hero-intro{
        font-size: 30px;
    }

    .hero-job-title-text{
        font-size: 18px;
    }

    .custom-btn{
        width: 96px;
    }

    .name-profession-wrapper{
        width: 124%;
        margin-left: -77px;
    }

    .ildidev-logo-2{
        width: 40%;
    }


}

@media(max-width:20em){
    #service-img{
        width: 100%;
    }

    .service-img-box::before{
        left: 51px;
        bottom: 54px;
        width: 60%;
        padding-bottom: 60%;
    }

    .service-img-2{
        width: 80%;
    }

    .service-img-box-2::before{
        left: 74px;
        bottom: 59px;
        width: 60%;
        padding-bottom: 60%;
    }

    .cta-btn-2{
        width: 148px;
        height: 51px;
        font-size: 16px;
    }

    .cta-email, .cta-link{
        font-size: 10px;
        margin-left: 1.2rem;
    }

    .name-profession-wrapper{
        margin-left: -70px;
    }

    #email, #name{
        height: 36px;
    }

    .ildidev-logo-2{
        width: 45%;
    }

    .legal{
        margin-top: 2.4rem;
    }
}

@media(max-width:18em){
    .inner-header{
        padding-top: 48px;
    }

    .custom-btn{
        width: 80px;
    }

    .item{
        height: 216px;
    }

    .skills-list{
        padding: 0;
    }

    .cta-btn-2{
        width: 123px;
    }

    ::placeholder{
        color: transparent;
    }

    .ildidev-logo-2{
        width: 55%;
    }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
      height:40px;
      min-height:40px;
    }
    .content {
      height:30vh;
    }
    h1 {
      font-size:24px;
    }
  }

